body {
	padding-top: 54px;
	font: 14px/1 'Open Sans', sans-serif;
	color: #555;
	/*background: #eee;*/
}
@media (min-width: 992px) {
	body {
		padding-top: 56px;
		font: 14px/1 'Open Sans', sans-serif;
		color: #555;
		/*background: #eee;*/
	}
}

main {
	min-width: 320px;
	max-width: 1100px;
	padding: 20px 0;
	margin: 10px auto;
	background: #fff;
}

section {
	display: none;
	margin-left: -2px;
	padding: 20px 0 0;
	border: 1px solid #ddd;
}

input {
	display: none;
}

main label {
	width: 150px;
	display: inline-block;
	margin: 0 -2px -1px;
	padding: 15px 25px 5px;
	font-weight: 600;
	text-align: center;
	/*color: #bbb;*/
	/*border: 1px solid transparent;*/
	border: 1px solid #ddd;
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px 10px 0 0;
	background-color: #eeeeee;
}

main label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

main label:hover {
	color: #888;
	cursor: pointer;
}

main input:checked + label {
	color: #555;
	/*border-top: 2px solid orange;*/
	border-bottom: 1px solid #fff;
	background-color: #ffffff;
}

.tab-label {
	margin-top: 10px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: block;
}

.bg-green {
	background-color: #4caf50;
}

.title-menu {
	font-size: 18px;
}

.title-label {
	font-size: 14px;
    background-color: #f1843b;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content {
	margin-bottom: 50px;
}

.margin20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

/*Custom dropdown*/
.dropdown, .dropdown-item {
	cursor: pointer;
}

.menu {
	color: #4caf50 !important;
}

.dropdown-toggle::after {
	content: none;
}

.dropdown-menu.show {
	min-width: 100px;
	left: -45px !important;
}

.remove-img {
	position: absolute;
	top: 0;
	right: 19px;
	z-index: 9999;
}

.owl-prev {
	position: absolute;
	top: 20%;
	left: -30px;
}

.owl-nav span {
	font-size: 50px;
	color: #4caf50;
}

.owl-next {
	position: absolute;
	top: 20%;
	right: -30px;
}

.title-section {
	color: #4caf50;
	text-transform: uppercase;
	font-weight: bold;
}

.point-title {
	position: absolute;
	top: 75%;
	left: 10px;
	color: #fff;
	font-size: 14px;
}

.promotion-item {
	cursor: pointer;
	margin-bottom: 30px;
}

/*News css*/
.news-item {
    display: flex;
    margin-bottom: 30px;
}

.news-title {
    color: #000;
    font-weight: bold;
}

#content4 a:hover {
    text-decoration: none;
}

.news-title:hover {
    color: #4caf50;
}

.news-note {
    color: #9E9E9E;
    font-size: 12px;
    font-style: italic;
}

.img-news {
    padding-right: 0;
    margin-right: -15px;
}

.img-news img {
    width: 170px;
    height: 185px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.news-content {
    padding-left: 0;
}

.news-description {
    color: #9E9E9E;
    line-height: 19px;
}
