body {
    padding-top: 54px;
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    /*background: #eee;*/
}
html{
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}
.node_way{
    position: absolute;
    width:3px;
    height: 2px;
    z-index: 9;
    background-color:#7B0D09;
}
.comeIn {
    margin-top: -13px !important;
}

.img_instant {
    width: 180px;
    margin-top: -13px;
    height: 120px;
}

.label_instant {
    font-size: 9px;
    padding: 12px 20px 5px;
}

.point_important::before {
    position: absolute;
    content: "";

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    transition: background 0.5s ease;
    z-index: 1;
    background-color: rgba(19, 80, 91, 0.7) !important;
}

.div_marker label {
    font-size: 10px;
    width: 180px;
    display: inline-block;
    margin: 0px -1px -2px 0px;
    font-weight: 500;
    text-align: center;
    height: 20px;
    padding-top: 4px;
    border-radius: 4px;
}

@media (min-width: 992px) {
    #content2 .content {
        width: 2048px;
        height: 1473px;
    }

    body {
        padding-top: 56px;
        font: 14px/1 'Open Sans', sans-serif;
        color: #555;
        /*background: #eee;*/
    }

    #download {
        border-radius: 8px;
        position: absolute;
        margin-top: 50px;
        color: white;
        margin-left: 88%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: #4caf50;
    }
}

main {
    min-width: 320px;
    max-width: 1100px;
    padding: 20px 0;
    margin: 10px auto;
    background: #fff;
}

section {
    display: none;
    margin-left: -2px;
    padding: 70px 0 0;
    border: 0px solid #ddd;
}

input {
    display: none;
}

main label {
    width: 150px;
    display: inline-block;
    margin: 0 -2px -1px;
    padding: 15px 25px 5px;
    font-weight: 600;
    text-align: center;
    /*color: #bbb;*/
    /*border: 1px solid transparent;*/
    border: 1px solid #ddd;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #eeeeee;
}

main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

main label:hover {
    color: #888;
    cursor: pointer;
}

main input:checked + label {
    color: #555;
    /*border-top: 2px solid orange;*/
    border-bottom: 1px solid #fff;
    background-color: #ffffff;
}

.tab-label {
    margin-top: 10px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

#marker {
    width: 20px;
    height: 30px;
    margin-top: 870.197px;
    margin-left: 1140.34px;
    position: absolute;
}

.bg-green {
    background-color: #4caf50;
}

.title-menu {
    font-size: 18px;
}

.title-label {
    font-size: 14px;
    background-color: #f1843b;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content {
    margin-bottom: 50px;
}

.margin20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*Custom dropdown*/
.dropdown, .dropdown-item {
    cursor: pointer;
}

.menu {
    color: #4caf50 !important;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu.show {
    min-width: 100px;
    left: -45px !important;
}

.remove-img {
    position: absolute;
    top: 0;
    right: 19px;
    z-index: 9999;
}

.owl-prev {
    position: absolute;
    top: 20%;
    left: -30px;
}

.owl-nav span {
    font-size: 50px;
    color: #4caf50;
}

.owl-next {
    position: absolute;
    top: 20%;
    right: -30px;
}

.title-section {
    color: #4caf50;
    text-transform: uppercase;
    font-weight: bold;
}

.point-title {
    position: absolute;
    top: 75%;
    left: 10px;
    color: #fff;
    font-size: 14px;
}

.promotion-item {
    cursor: pointer;
    margin-bottom: 30px;
}

.promotion-item img {
    width: 100%;
    height: 250px;
}

/*News css*/
.news-item {
    cursor: pointer;
    display: flex;
    margin-bottom: 30px;
}

.news-title {
    color: #000;
    font-weight: bold;
}

#content4 a:hover {
    text-decoration: none;
}

.news-title:hover {
    color: #4caf50;
}

.news-note {
    color: #9E9E9E;
    font-size: 12px;
    font-style: italic;
}

.img-news {
    padding-right: 0;
    margin-right: -15px;
}

@media (max-width: 1199px) {
    .img-news {
        padding-right: 0;
        margin-right: 20px;
    }

    #mapdhc {
        /*transform: scale(1.1);*/
    }

    #download {
        border-radius: 8px;
        position: absolute;
        margin-top: 50px;
        color: white;
        margin-left: 88%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: #4caf50;
    }
}

@media (max-width: 425px) {
    .news-item {
        display: block !important;
    }
    .height-screen {
        background-color: #8FB88F;
    }
    #label_tab1, #label_tab3 {
        margin-left: 40px;
    }

    .color_content2 {
        background-color: #8FB88F;
    }

    #content2 .content {
        width: 2048px;
        height: 1000px;
    }

    .content {
        margin-top: -15px;
    }

    #parentImage {
        /*transform: scale(5,4.317);*/
    }

    #content2 .row {
        width: 100%;
        padding-left: 15px;
    }

    #mapdhc {
        padding-top: 255px;
        padding-left: 0px;
        /*margin-left: 5px;*/
        margin-top: -250px;
        height: 1473px !important;
        width: 2048px !important;
    }

    .img-news {
        margin-left: -15px;
        margin-bottom: 15px;
    }

    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .img-news img {
        width: 100% !important;
        height: auto !important;
    }

    #parentImage {
        margin-top: 600px;
        padding: 0px 0px 0px 0px;
    }

    #download {
        border-radius: 8px;
        color: white;
        margin-top: 1250px;
        padding-left: -5px;
        height: 100px;
        width: 17.5%;
        margin-left: 0.3%;
        border: none;
        background-color: #4caf50;
    }
    #content2 {
        margin-top: -90px;
        background-color: #8FB88F;
    }

    #modalForm {
        width: 98%;
    }

}

#div_search {
    height: 50px !important;
    position: fixed;
    width: 2045px;
    /*min-width: 380px;*/
    background-color: #8FB88F;
}

#content2 .content {
    margin-top: 100px;
}

.height-screen {
}

/*#searchlabel {*/
    /*background-color: white;*/
    /*margin-top: 8px;*/
    /*height: 30px;*/
    /*padding-top: 8px;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 2vw;*/
    /*border: 0px;*/
    /*border-radius: 5px;*/
    /*color: #4caf50;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
/*}*/

#search_place {
    width: 90vw;
    height: 30px;
    margin-top: 10px;
    margin-left: 5.5vw;
    border-radius: 5px;
    max-width: 500px;
}

@media (max-width: 991px) and (min-width: 766px){
    .img-news {
        padding-right: 0;
        margin-right: 50px;
    }

    .news-content {
        padding-left: 25px !important;
    }

    #download {
        border-radius: 8px;
        position: fixed;
        margin-bottom: 0px;
        color: white;
        margin-left: 80%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: #4caf50;
    }

    #div_search {
        height: 90px !important;
        position: fixed;
        width: 15%;
        background-color: #8FB88F;
    }

    #content2 {
        margin-top: -90px;
    }

    #content2 .content {
        width: 2048px;
        height: 1473px;
    }
}

.img-news img {
    width: 170px;
    height: 185px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.news-content {
    padding-left: 0;
}

.news-content img {
    max-width: 100% !important;
}

.news-description {
    color: #9E9E9E;
    line-height: 19px;
}

/*Point*/
.img-point img {
    width: 100%;
    height: 300px
}

.point-name {
    color: #000;
}

.book-seat {
    background-color: #FFC400;
    height: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.point-marker {
    background-color: #4caf50;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.point-description {
    margin-left: 0;
    line-height: 20px;
}
