body {
    padding-top: 54px;
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    /*background: #eee;*/
}

#parentImage {
    padding: 0px 0px 0px 0px;
}

@media (min-width: 992px) {
    #content2 .content{
        width: 2048px;
        height: 1473px;
    }
    body {
        padding-top: 56px;
        font: 14px/1 'Open Sans', sans-serif;
        color: #555;
        /*background: #eee;*/
    }

    #download {
        border-radius: 8px;
        position: absolute;
        margin-top: 50px;
        color: white;
        margin-left: 88%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: hsl(0, 100%, 10%);
    }
}

main {
    min-width: 320px;
    max-width: 1100px;
    padding: 20px 0;
    margin: 10px auto;
    background: #fff;
}

section {
    display: none;
    margin-left: -2px;
    padding: 70px 0 0;
    border: 0px solid #ddd;
}

input {
    display: none;
}

main label {
    width: 150px;
    display: inline-block;
    margin: 0 -2px -1px;
    padding: 15px 25px 5px;
    font-weight: 600;
    text-align: center;
    /*color: #bbb;*/
    /*border: 1px solid transparent;*/
    border: 1px solid #ddd;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #eeeeee;
}

main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

main label:hover {
    color: #888;
    cursor: pointer;
}

main input:checked + label {
    color: #555;
    /*border-top: 2px solid orange;*/
    border-bottom: 1px solid #fff;
    background-color: #ffffff;
}

.tab-label {
    margin-top: 10px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

#marker {
    width: 20px;
    height: 30px;
    position: absolute;
}

.bg-green {
    background-color: #4caf50;
}

.title-menu {
    font-size: 18px;
}

.title-label {
    font-size: 14px;
    background-color: #f1843b;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content {
    margin-bottom: 50px;
}

.margin20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*Custom dropdown*/
.dropdown, .dropdown-item {
    cursor: pointer;
}

.menu {
    color: #4caf50 !important;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu.show {
    min-width: 100px;
    left: -45px !important;
}

.remove-img {
    position: absolute;
    top: 0;
    right: 19px;
    z-index: 9999;
}

.owl-prev {
    position: absolute;
    top: 20%;
    left: -30px;
}

.owl-nav span {
    font-size: 50px;
    color: #4caf50;
}

.owl-next {
    position: absolute;
    top: 20%;
    right: -30px;
}

.title-section {
    color: #4caf50;
    text-transform: uppercase;
    font-weight: bold;
}

.point-title {
    position: absolute;
    top: 75%;
    left: 10px;
    color: #fff;
    font-size: 14px;
}

.promotion-item {
    cursor: pointer;
    margin-bottom: 30px;
}

.promotion-item img {
    width: 100%;
    height: 250px;
}

/*News css*/
.news-item {
    cursor: pointer;
    display: flex;
    margin-bottom: 30px;
}

.news-title {
    color: #000;
    font-weight: bold;
}

#content4 a:hover {
    text-decoration: none;
}

.news-title:hover {
    color: #4caf50;
}

.news-note {
    color: #9E9E9E;
    font-size: 12px;
    font-style: italic;
}

.img-news {
    padding-right: 0;
    margin-right: -15px;
}

@media (max-width: 1199px) {
    .img-news {
        padding-right: 0;
        margin-right: 20px;
    }

    #mapdhc {
        /*transform: scale(1.1);*/
    }

    #download {
        border-radius: 8px;
        position: absolute;
        margin-top: 50px;
        color: white;
        margin-left: 88%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: hsl(0, 100%, 10%);
    }
}

@media (max-width: 425px) {
    .news-item {
        display: block !important;
    }
    #content2 .content{
        width: 2048px;
        height: 1473px;
    }
    .content {
        margin-top: -15px;
    }
    #parentImage {
        /*transform: scale(5,4.317);*/
    }

    #content2 .row {
        width: 100%;
        padding-left: 15px;
    }

    #mapdhc {
        padding-top: 255px;
        padding-left: 0px;
        margin-left: 5px;
        margin-top: -250px;
        /*height: 800px;*/
        /*width: 2000px;*/
    }

    .img-news {
        margin-left: -15px;
        margin-bottom: 15px;
    }

    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .img-news img {
        width: 100% !important;
        height: auto !important;
    }
    #parentImage {
        margin-top: 600px;
        padding: 0px 0px 0px 0px;
    }

    #download {
        border-radius: 8px;
        color: white;
        margin-top: 1250px;
        padding-left: -5px;
        height: 100px;
        width: 95%;
        margin-left: 5.5%;
        border: none;
        background-color: hsl(0, 100%, 10%);
    }

}
#div_search{
    height: 90px !important;
    position: fixed;
    width: 26%;
}
#content2 .content{
    margin-top: 100px;
}
 #searchlabel{
     background-color: white;
     margin-top: 8px;
     margin-bottom: 10px;
     margin-left: 29%;
     border: 0px;
     font-weight: 100;
 }
 #search_place{
     width: 95%;
     margin-left: 2.5%;
     border-radius: 5px;
 }
@media (max-width: 991px) and (min-width: 766px) {
    .img-news {
        padding-right: 0;
        margin-right: 50px;
    }

    #mapdhc {

        transform: scale(1.0);
    }

    .news-content {
        padding-left: 25px !important;
    }

    #download {
        border-radius: 8px;
        position: fixed;
        margin-bottom: 0px;
        color: white;
        margin-left: 80%;
        height: 35px;
        width: 116px;
        border: none;
        background-color: hsl(0, 100%, 10%);
    }
}

.img-news img {
    width: 170px;
    height: 185px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.news-content {
    padding-left: 0;
}

.news-content img {
    max-width: 100% !important;
}

.news-description {
    color: #9E9E9E;
    line-height: 19px;
}

/*Point*/
.img-point img {
    width: 100%;
    height: 300px
}

.point-name {
    color: #000;
}

.book-seat {
    background-color: #FFC400;
    height: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.point-marker {
    background-color: #4caf50;
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.point-description {
    margin-left: 0;
    line-height: 20px;
}
